<h1>{{ post.title }}</h1>
<p>{{ post.body }}</p>

<h2>Comments ({{ post.comment_set.count }})</h2>
<ul>
{% for comment in post.comment_set.all %}
	<li>{{ comment.body }}</li>
{% endfor %}
</ul>

<a href="/posts">back</a>